*{
    margin: 0;
}

body{
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 30px);
    padding-top: 15px;
    padding-bottom: 15px;
    gap: 10px;
}

header, footer{
    color:gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}





